*{
    font-family: 'Poppins', sans-serif;
}

 h1{
    font-size: 50px;
    text-transform: capitalize;
    color: darkslategrey;
}

h2{
    font-size: 40px;
    margin: 0;
}

h3{
    font-size: 30px;
    margin: 0;
}

p{
    margin: 0;
}

h1 span{
    color: darkorange;
}
.first{
    display: flex;
    padding-bottom: 50px;
}

.half-left{
    width: 50%;
    padding-left: 10%;
    padding-top: 5%;
}

.half-right{
    width: 50%;
}

.btn-1{
    text-decoration: none;
    padding: 12px 20px;
    text-transform: uppercase;
    background-color: darkorange;
    color: #fff;
    display: inline-block;
    border-radius: 25px;
    box-shadow:0 0 20px 0 darkorange;
    margin-top: 20px;
}
 
.half-right img {
    max-height: 100vh;
    position: relative;
    top: -55px;
}

.second{
    display: flex;
    padding-top: 30px;
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.second .half-right img {
    max-height: 75vh;
    padding-left: 15%;
    top: 0;
}
.second .half-left{
    width: 50%;
    padding-right: 10%;
    padding-top: 2%;
}

.recipe h1{
    text-align: center;
}
.recipe-box{
    display: flex;
    padding-top: 20px;
}

.recipe-item{
    width: 50%;
    padding: 40px;
    box-shadow:0 0 20px 0 rgb(184, 183, 183);
    margin: 35px;
    border-radius: 20px;
}
.recipe-item img{
    width: 100%;
    height: 350px;
    margin-bottom: 10px;
}
.recipe-text{
    width: 50%;
    margin: 0 auto;
}

.social{
    display: flex;
    justify-content: space-between;
    margin: 5%;
    padding: 30px 40px;
    border-radius: 15px;
    box-shadow:0 0 15px 0 rgb(182, 182, 182);
}


footer{
    text-align: center;
    background: black;
    color: #fff;
    padding: 50px 0;
}
footer h3{
    color: darkslategray;
}

footer span{
    color: darkorange;
}